.pp
{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 550;
     font-family :cursive ;
}
p{
    font-size: 17px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    height: 250px;
    width: 300px;
}